body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
}

.main{
    height: 100vh;
}

.nav-bar{
    display: flex;
    width: 80%;
    margin: auto;
    height: 13vh; 
}

.nav-links{
    font-family: sans-serif;
}

.nav-links,
.logo, .link, .logo p{
    display: flex;
    align-items: center;
    height: 100%;

}

.logo{
    flex: 1;
}

.logo p{
    justify-content: center;
    color: white;
    width: 60%;
    background-color:rgb(10, 184, 36);
}

.link{
    position: relative;
    padding: 0 25px 0 25px;
    text-decoration: none;
    color: rgb(28, 214, 28);
    font-size: 1.5rem;
}

.link::after{
    position: absolute;
    top: -4px;
    left: 0px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: rgba(74, 138, 74, 0.751);
    transition: top 0.3s ease-out;
}

.link:hover.link::after{
    top: 0px;
}

.landing-page{
    display: flex;
    width: 90%;
    align-items: center;
    margin: 0 0 0 auto;
}

.content{
    flex: 1;
}

.content h3{
    font-size: 2.7rem;
    background: -webkit-linear-gradient( rgb(10, 184, 36), rgb(28, 214, 28));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;

}
.content p{
    color: black;
    width: 70%;
    font-size: 1.8rem;
    padding-bottom: 25px;
}

.cta{
    padding: 14px 40px;
    background-color:  rgb(28, 214, 28);
    color: white;
    font-size: 1.7rem;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: -3px 10px 35px rgba(0, 0, 0, 0.872);
}

.image{
    flex: 1.6;
    padding-top: 3%;
}

.image-proyect{
    flex: 0.3;
    padding-left: 20%;
}

.image-proyect p{
    text-align: justify;
    padding-right: 25% ;
   }

.image-2{
    width: 200px;
}



.image-1{
    width: 200px;
}




.image img{
    width: 90%;
}

.proyecto-1{
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    
}

.proyectos{
    min-height: 5vh;
    position: relative;
    
}

.proyectos-sub{
    min-height: 8vh;
    position: relative;

}

.proyectos-one{
    position: absolute;
    top:12%;
    left:50% ;
    transform: translate(-50%, 20%) ;
    border: 2px solid rgb(37, 232, 115);
    width: 25%;
    border-radius: 10%;
    
}

.proyectos-one-sub{
    position: absolute;
    top:11%;
    left:50% ;
    transform: translate(-50%, 10%) ;
    border: 2px solid rgb(37, 232, 115);
    width: 60%;
    height: 40vh;    
}
.proyectos-one-sub-r{
    position: absolute;
    top:10%;
    left:50% ;
    transform: translate(-50%, 10%) ;
    
    width: 65%;
    height: 90vh;    
    align-items: flex-start;
    margin-left: 4rem;
}




.proyectos-one-sub h1{
    padding-left: 10%;
}

.proyectos-one-sub p{
    padding-left: 3%;
    font-size: larger;
    font-style: oblique;
}

.proyectos-one:hover{
    background-color: rgb(185, 238, 151);
    transform: translate(-50%, 10%) ;
    box-shadow: -3px 10px 35px rgba(62, 214, 12, 0.872);

}


.proyectos-two:hover{
    background-color:rgb(185, 238, 151);
    transform: translate(-50%, 12%) ;
    box-shadow: -3px 10px 35px rgba(62, 214, 12, 0.872);
}


.proyectos-three:hover{
    background-color:rgb(185, 238, 151);
    transform: translate(-50%, 10%) ;
    box-shadow: -3px 10px 35px rgba(62, 214, 12, 0.872);
}




.proyectos-one h1{
    padding-left: 7rem;
}

.proyectos-two h1{
    padding-left: 7rem;
}


.proyectos-three h1{
    padding-left: 7rem;
}

.proyectos-two{
    position: absolute;
    top:12%;
    left:20% ;
    transform: translate(-50%, 20%) ;
    border: 2px solid rgb(37, 232, 115);
    width: 25%;
    border-radius: 10%;
}

.proyectos-three{
    position: absolute;
    top:12%;
    left:80% ;
    transform: translate(-50%, 20%) ;
    border: 2px solid rgb(37, 232, 115);
    width: 25%;
    border-radius: 10%;
}


.myButton {
	box-shadow: 0px 10px 14px -7px #72e670af;
	background:linear-gradient(to bottom, #2fe4db 5%, #3fdb41 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #61cbf1;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton-login{
    box-shadow: 0px 10px 14px -7px #72e670af;
	background:linear-gradient(to bottom, #4beb0c 5%, #39d60d 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #61cbf1;
}

.myButton-sub{

    box-shadow: 0px 10px 14px -7px #72e670af;
	background:linear-gradient(to bottom, #4beb0c 5%, #39d60d 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #61cbf1;
    padding: 20px 40px 20px 40px;
    margin-left: 20%;

}



.myButton-login:hover {
	background:linear-gradient(to bottom, #23de4c 5%, #038dbf 100%);
	background-color:#408c99;
    box-shadow:  -3px 10px 35px  rgb(45, 217, 26);
}

hr{
      
        width:100vh;
        height: 2%;
        padding: 0;
        margin: 0;
        border-width:120%;
        color:#000;
        background-color:#000;
        border: 2px solid  rgb(45, 217, 26);
}

.hr{
    width:80vh;
    
    padding: 0;
    margin: 2rem 0rem 0rem 0rem;
    border-width:30%;
    color:#000;
    background-color:#000;
    border: 2px solid  rgb(45, 217, 26);
}

.myButton-sub:hover {
    background:linear-gradient(to bottom, #23de4c 5%, #038dbf 100%);
	background-color:#408c99;
    box-shadow:  -3px 10px 35px  rgb(45, 217, 26);
}   

.image-proyect-contact{
    font-size: 2rem;
}

.myButton-log{
    
    box-shadow: 0px 10px 14px -7px #72e670af;
	background:linear-gradient(to bottom, #4beb0c 5%, #39d60d 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #61cbf1;
    padding: 20px 40px 20px 40px;
    margin-left: 40%;
    margin-top: 0;
}

.input-user{
    box-shadow: 0px 10px 14px -7px #18e714df;
	background-color:#3bf317be;
	border-radius:8px;
	display:flex;
	color:#ffffff;
	font-size: 1.1rem;
	text-shadow:0px 1px 0px #feffff;
    padding: 2px 20px 20px 2px;
    margin-left: 15%;
    margin-bottom: 8%;
}

.input-password{
    box-shadow: 0px 10px 14px -7px #72e670af;
	background-color:#3bf317be;
	border-radius:8px;
	display:flex;
	color:#ffffff;
	font-family:Arial;
	font-size: 1.1rem;
	font-weight:bold;
	text-shadow:0px 1px 0px #feffff;
    padding: 2px 20px 20px 2px;
    margin-left: 15%;
    margin-bottom: 8%;
}


.modalContainer{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 20%;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modalContainer .modal-content{

    background-color: #ffffff;
    margin: auto;
    padding: 3px;
    border: 1px solid #ffffff;
    width: 1%;

    margin-left: 80%;
  
   
}

.modalContainer .close {
    color: rgb(192, 40, 40);
    float: right;
    font-size: 26px;
    font-weight: bold;
    
}

.modal-content .close:hover, .close:focus{
    color: #0000;
    text-decoration: none;
    cursor: pointer;
    
}


.ButtonModal{

    box-shadow: 0px 10px 14px -7px #72e670af;
	background:linear-gradient(to bottom, #4beb0c 5%, #39d60d 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #61cbf1;
    padding: 20px 40px 20px 40px;
    margin-left: 40%;

}

.ButtonModal:hover{
    background: rgba(125, 233, 9, 0.918);
}

.texto-programas{
    margin-left: 23%;
    font-size: 1.2rem;
}