body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(70, 159, 219);
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    margin-right: 155px;
}
.logo a:hover{
    color: black;
}
.lista{
    display: flex;
    list-style: none;
    line-height: 35px;
}
.item-lista{
    margin-left: 30px;
    margin-right: 25px;
    color: white;
    text-decoration: none;
    font-size: 19px;
}
.item-lista:hover{
    color: black;
}


/*Inicio*/
.principal{
    display: flex;
    margin-top: 7rem;
}
.inicio{
    text-align: center;
    margin-top: 3rem;
    font-size: 29px;
    width: 100%;
    margin-left: 5rem;
}
.imagen{
    width: 85%;
}
.inicio-imagen{
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.boton-inicio{
    background: rgb(70, 159, 219);
    width: 50%;
    height: 15%;
    border-radius: 15px;
    font-size: 22px;
    color: black;
    cursor: pointer;

}
.boton-inicio a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.boton-inicio a:hover{
    color: black;
}