body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(70, 159, 219);
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    margin-right: 155px;
}
.logo a:hover{
    color: black;
}
.lista{
    display: flex;
    list-style: none;
    line-height: 35px;
}
.item-lista{
    margin-left: 30px;
    margin-right: 25px;
    color: white;
    text-decoration: none;
    font-size: 19px;
}
.item-lista:hover{
    color: black;
}

/*Contenedor del Login*/

.contenedor-login{
    width: 30%;
    margin: auto;
    margin-top: 5rem;
    background-color: rgb(70, 159, 219);
    padding: 45px;
    border-radius: 5px;
}
.text-login{
    text-align: center;
}
.contenedor-input{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}
.contenedor-input label{
    text-align: center;
    font-size: 18px;
    
}
.input{
    height: 2rem;
    border-radius: 15px;
    border: none;
    background: white;
    text-align: center;
    color: black;
}
.contenedor-boton{
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}
.boton{
    width: 110%;
    height: 2.1rem;
    border-radius: 15px;
    background: white;
    border: none;
    color: black;
    font-size: 18px;
}