.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0fr);
    grid-column-gap: 6px;
    grid-row-gap: 7px;
    }

.title{
    color: rgb(91, 32, 255);
    padding: 0px 0px 0px 450px;
    margin-top: 0;
}



.foto{
    padding: 0px 0px 5px 500px;
}

.title-datos{
    background-color: rgba(46, 221, 96, 0.988);
}

.fondo-listado{
    background-color: rgba(40, 215, 90, 0.447);
    text-transform: uppercase;
}