body {
    display: grid;
    place-content: center;
  }

  .ejercicio1{
    color: rgba(0, 115, 141, 0.923);

    font-size: 1.2rem;
  }

  .version {
    font-size: 0.8rem;
    width: 20%;
  }

  .ejercicio1-h1,
  .enunciado {
    display: grid;
    place-content: center;
    background-color: rgb(115, 247, 94);
    width: 80%;
    transform: translateX(20%);
  }

  .myButton {
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color: #79bbff;
    border-radius: 6px;
    border: 1px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 34px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
    margin-left: 30vh;
  }

  .input {
    border-radius: 6px;
    display: inline-block;
    color: #030000;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 24px;
  }

  .form > * {
    color: rgb(0, 163, 76);
    font-size: 1.2rem;
  }