<template>
    <LeyendoJson />

   
  
  </template>
  
  <script>
  import { defineComponent } from 'vue';
  
  // Components
  
  
import LeyendoJson from '../components/LeyendoJson.vue';

  
  export default defineComponent({
    name: 'LeyendoJsonView',
  
    components: {
        LeyendoJson,
 
    },
  });
  </script>
  