<template>
  <v-container class="my-15">
<v-row justify="center">
   <v-col lg="12" class="text-center">
       <v-subheader class="text-h4 justify-center">
          <h3 class="verde">Iniciar sesión</h3> 
       </v-subheader>




   </v-col>
   <v-col class="center-green" lg="6">
    <h1>Más detalles</h1>
            <ul>
              <li>
                Al suscribirse recibiras las últimas novedades
              </li>
              <li>
             Podras participar en proyectos
              </li>
              <li>
              Aprenderás como postular para gestionar proyectos
              </li>
            </ul>
   </v-col>

   <v-col lg="6">
       <div align="center">
           <h1 class="text-center text-green-accent-4">Ingrese sus Credenciales</h1>
           <form @submit.prevent="handleSubmit"> 

               <input class="text-black border-double " type="email" placeholder="Ingrese email" v-model.trim="email">
               <br>
               <br>
               <input class=" text-black  border-double" type="password" placeholder="Ingrese password" v-model.trim="password">
               <br>
               <br>
               <button type="submit" class="bg-green-accent-4 text-white">Acceder</button>
           </form>
       </div>
   </v-col>
</v-row>
</v-container>
</template>

<script setup>
import {ref} from 'vue';
import {useUserStore} from '../store/index'
import {useRouter}  from 'vue-router'

const userStore = useUserStore() 
const router = useRouter()

const email = ref('')
const password = ref('')


const handleSubmit = async()=>{
if(!email.value || password.value.length < 6 ){
return alert('llena los campos')
}
await userStore.loginUser(email.value, password.value)
router.push('/misproyectos')
}


</script>

<style scoped>
.center-green{


padding-left: 150px;
color: rgb(7, 159, 22);

}

.p{
text-decoration: none; 
color: inherit;
padding: 2%;
}

.verde{
color:green
}


</style>