<template>
    <v-container>
    <h1>Mis</h1>
    </v-container>
    <v-container>
        <v-row justify="center">
            <div>
            <h1 class="text-green">Editar</h1>
             </div>
          
        </v-row>
    </v-container>

    <v-container>
        <v-row justify="center">
            <form @submit.prevent="handleSubmit">
              <div>
                <v-alert
                outlined
      type="warning"
      prominent
      border="left"
    > 
      Rellena este formulario para editar el proyecto
    </v-alert>
    <v-spacer/>
    <br>
              </div>
              <label>Título: </label>
              <input  class="bg-lime lighten-4" type="text" placeholder="Ingrese Título" v-model="title"><br> <br>
              <label>Facultad: </label>
              <input class="bg-lime lighten-4" type="text" placeholder="Ingrese Facultad" v-model="facultad"><br> <br>
              <label>Líder: </label>
              <input class="bg-lime lighten-4" type="text" placeholder="Ingrese Líder" v-model="lider"><br> <br>
              <label>Descripción: </label>
              <input  style="width : 50rem" class="bg-lime lighten-4" type="text" placeholder="Ingrese Descripción" v-model="descripcion"><br> <br>
              <label>URL Imagen: </label>
              <input  style="width : 50rem" class="bg-lime lighten-4" type="text" placeholder="Ingrese Imagen" v-model="image"> 

              <br> <br>
              <v-btn
      color="success"
     
    >
             <button type="submit" >Editar Proyecto</button>
        </v-btn>

          </form>
          
        </v-row>
    </v-container>

    
   
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import {useDatabaseStore}  from '../store/database';


const databaseStore = useDatabaseStore();

const route = useRoute();

const handleSubmit =()=>{
    if(!title.value || !facultad.value  || !facultad.value   || !lider.value  || !descripcion.value  || !image.value ){
    return alert('Rellene los campos para editar el proyecto')
}
   databaseStore.updateProyecto(route.params.id, title.value, facultad.value, lider.value, descripcion.value, image.value)
}

const title = ref('')
const facultad = ref('')
const lider = ref('')
const descripcion = ref('')
const image = ref('')


onMounted(async()=>{
  [title.value,facultad.value, lider.value, descripcion.value, image.value]  = await databaseStore.leerProyecto(route.params.id)

  ok= [title.value] = await databaseStore.leerProyecto(route.params.id)
  
})

</script>