<template>
  <v-container>
   
     <h1>Mis</h1>
  </v-container>

  <v-container>
    <v-row justify="center">
      <v-col lg="12">
        <h1 align="center" class="text-green">Bienvenido a tus proyectos {{ userStore.userData?.email }}</h1>
          <h3 class="text-blue"><strong>Agrega proyectos</strong></h3>
          <form @submit.prevent="handleSubmit">
              <div>
                <v-alert
      outlined
      text
      type="success"
    > 
      Rellena este formulario para agregar proyectos a tu cuenta
    </v-alert>
    <v-spacer/>
    <br>
              </div>
              <input  class="bg-lime lighten-4" type="text" placeholder="Ingrese Título" v-model="title"><br> <br>
              <input class="bg-lime lighten-4" type="text" placeholder="Ingrese Facultad" v-model="facultad"><br> <br>
              <input class="bg-lime lighten-4" type="text" placeholder="Ingrese Líder" v-model="lider"><br> <br>
              <input  style="width : 50rem" class="bg-lime lighten-4" type="text" placeholder="Ingrese Descripción" v-model="descripcion"><br> <br>
              <input  style="width : 50rem" class="bg-lime lighten-4" type="text" placeholder="Ingrese Imagen" v-model="image"> 
             
              <br> <br>
              <v-btn
      color="blue"
     
    >
             <button type="submit" >Agregar Proyecto</button>
        </v-btn>

          </form>
      </v-col>
    <v-col lg="12">
  
    
  <h1 class="text-green">Proyectos agregados</h1>
  <p v-if="databaseStore.loagingDoc">Cargando proyectos...</p>
  <ul v-else>
    <li v-for="item of databaseStore.documents" :key="item.id">
      <strong>Título:</strong> {{ item.title }} <br>
      <strong>Facultad:</strong> {{ item.facultad }} <br>
      <strong>Líder:</strong> {{ item.lider }} <br>
      <strong>Descripción:</strong> <p>{{ item.descripcion }}</p>  <br>
      <v-img
  max-height="150"
  max-width="250"
  :src=item.image
></v-img>
      <br>  
      <v-btn
      color="cyan"
     
    >
    <button @click="router.push(`/editar/${item.id}`)">Editar</button>
  </v-btn>
      <v-btn
      color="error"
     
    >
    <button @click="databaseStore.deleteProyecto(item.id)">Eliminar</button>
  </v-btn>
    
      
    </li>
  </ul> 
  
</v-col>
</v-row>
</v-container>
</template>

<script setup>

import {useUserStore} from '../store/index';
import { useDatabaseStore } from '../store/database';
import {ref} from 'vue';
import {useRouter} from 'vue-router'
const userStore = useUserStore()
const databaseStore = useDatabaseStore()
const router = useRouter()

databaseStore.getProyectos()

const title = ref('')
const facultad = ref('')
const lider = ref('')
const descripcion = ref('')
const image = ref('')


const handleSubmit =()=>{
  if(!title.value || !facultad.value  || !facultad.value   || !lider.value  || !descripcion.value  || !image.value ){
    return alert('Rellene los campos para agregar proyectos')
}

  databaseStore.addProyectos(title.value,facultad.value,  lider.value, descripcion.value , image.value )
}

</script>

