<template>
    <v-app>
    
      <nav v-if="!userStore.loagingSession">
        <v-app-bar
        style="padding: 0px 50px"
        app
        color="white"
        light
        elevation="6"
        elevate-on-scroll
            >
             <v-toolbar-title class="v-toolbar-title">U_Proyecto</v-toolbar-title>
            <v-spacer />
              <router-link class="p" to="/"> <p class="p">Inicio</p></router-link>
                  <router-link class="p"  to="/proyecto">Proyecto</router-link>
                  <router-link class="p"  to="/contacto">Contactos</router-link>
                  <router-link class="p"  to="/misproyectos" v-if="userStore.userData">Mis proyectos</router-link>
                  <router-link class="p"  to="/register" v-if="!userStore.userData">Registrarse</router-link>
        
        
                  <router-link class="p"  to="/login" v-if="!userStore.userData">     <v-btn  outlined color="success"> Iniciar sesión  </v-btn></router-link>
                  <button @click="userStore.logoutUser" v-if="userStore.userData">Salir</button>
        
                
            </v-app-bar>
      </nav>
      <div v-else>
          Cargando información del usuario
      </div>
    <router-view/>


  

  
    <v-main>
        
 
    </v-main>
    
  </v-app>
</template>

<script setup>
import { useUserStore } from './store/index';
const userStore = useUserStore()
</script>


<style scoped>
 .v-toolbar-title{
  font-size:32px;
  color:#4caf50;
  font-weight: 700;
  font-family: cursive;

 }

 .p{
  text-decoration: none; 
  color: inherit;
  padding: 2%;
 }
</style>