body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quattrocento', serif;
}


.parent {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


.main{
    height: 100vh;
}

.nav-bar{
    display: flex;
    width: 80%;
    margin: auto;
    height: 13vh; 
}


.nav-links,
.logo, .link, .logo p{
    display: flex;
    align-items: center;
    height: 100%;

}

.logo{
    flex: 1;
}

.logo p{
    justify-content: center;
    color: white;
    width: 60%;
    background-color:rgb(10, 184, 36);
}


.link{
    position: relative;
    padding: 0 25px 0 25px;
    text-decoration: none;
    color: rgb(28, 214, 28);
    font-size: 1.5rem;
}

.link::after{
    position: absolute;
    top: -4px;
    left: 0px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: rgba(74, 138, 74, 0.751);
    transition: top 0.3s ease-out;
}

.link:hover.link::after{
    top: 0px;
}

.myButton-login{
    box-shadow: 0px 10px 14px -7px #72e670af;
	background:linear-gradient(to bottom, #4beb0c 5%, #39d60d 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #61cbf1;
}


.myButton-login:hover {
	background:linear-gradient(to bottom, #23de4c 5%, #038dbf 100%);
	background-color:#408c99;
    box-shadow:  -3px 10px 35px  rgb(45, 217, 26);
}


.proyecto-1{
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    
}

.image-proyect-contact{
    font-size: 1.4rem;
}

.image-proyect-contact p{
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0;
}



.input-user{
    box-shadow: 0px 10px 14px -7px #d8f400df;
    background-color: rgba(234, 249, 100, 0.861);
	border-radius:8px;
	display:flex;
	color:#090202;
	font-size: 1.1rem;
	text-shadow:0px 1px 0px #feffff;
    padding: 2px 2px 10px 2px;
    margin-left: 4%;
    margin-bottom: 1%;
}
.input-titulo{
    box-shadow: 0px 10px 14px -7px #d8f400df;
    background-color: rgba(234, 249, 100, 0.861);
	border-radius:8px;
	display:flex;
	color:#090202;
	font-size: 1.1rem;
	text-shadow:0px 1px 0px #feffff;
    padding: 2px 700px 10px 2px;
    margin-left: 4%;
    margin-bottom: 1%;
}

.input-descripcion{
    box-shadow: 0px 10px 14px -7px #d8f400df;
    background-color: rgba(234, 249, 100, 0.861);
	border-radius:8px;
	display:flex;
	color:#090202;
	font-size: 1.1rem;
	text-shadow:0px 1px 0px #feffff;
    padding: 2px 700px 40px 2px;
    margin-left: 4%;
    margin-bottom: 1%;
}

.input-user:hover{
    box-shadow: 0px 10px 14px -7px #ffffff ;
    background-color: #58f16a8f;
    color:#000000;
}


.input-descripcion:hover{
    box-shadow: 0px 10px 14px -7px #ffffff ;
    background-color: #58f16a8f;
    color:#000000;
}

.input-titulo:hover{
    box-shadow: 0px 10px 14px -7px #ffffff ;
    background-color: #58f16a8f;
    color:#000000;
}


.center{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-right: 30vh;
}


.myButton-log{
    
    box-shadow: 0px 10px 14px -7px #72e670af;
	background:linear-gradient(to bottom, #4beb0c 5%, #39d60d 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 52px;
	text-decoration:none;
	text-shadow:0px 1px 0px #61cbf1;
    padding: 20px 40px 20px 40px;
    margin-left: 40%;
    margin-top: 0;
}

.myButton-log:hover{
    box-shadow: 0px 10px 14px -7px #14a9ffaf;
    background:linear-gradient(to bottom, #26e5a9 5%, #3262fe 100%);
}

.image-proyect{
    flex: 0.3;
    margin-left: 3%;
    padding-left: 20%;
    border: 2px black solid ;
}

.image-proyect p{
    text-align: justify;
    padding-right: 25% ;
   }


   .image-2{
    width: 200px;
}