
.h1{
    font-size: 5rem;
    background-color: blueviolet;
}

.enunciado{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    color: rgb(0, 141, 24);

}

.link{
    text-decoration: none;
    color: rgb(1, 7, 7);
    background-color: burlywood;
    border-radius: 20%;
   
    width: 38vh;
    font-size: 3rem;
    align-items: center;
    margin:0;
    padding: 0;
}