.form{
    background-color: rgba(92, 209, 180, 0.752);
    color:black;
    padding: 30px;
}

.input{
    border: 2px solid rgb(68, 33, 206);
    width: 12em;
    height: 3em;
}

.input:hover{
    border: 2px solid rgb(194, 16, 93);
  
}

.title-bd{
    text-transform: uppercase;
    padding-left: 400px;
    background-color: rgb(8, 213, 100);
}

.btn{
    background-color: rgb(65, 191, 132);
    color: white;
    margin-top: 6em;
    border-radius: 10%;
    height: 30px;
    position: initial;
    

}