<template>
    <v-container class="my-15">
        <v-row justify="center">
                <v-subheader class="text-h2 ">
                   <h3 class="verde">Mostrando datos JSON</h3>
                </v-subheader>
                
            <slot v-if="activeProyecto === 'proyectoapp'">
                
                <v-col lg="12">
                        
                    <v-card
                       class="mx-auto"
                       max-width="400"
                    
                       v-for="(proyecto, index) in proyectosList" :key="proyectoindex"
                   
                     >
                       <v-img
                         class="white--text align-end"
                         height="200px"
                         :src=proyecto.image
                       >

                            
                         <v-card-title class="title">{{proyecto.title}}</v-card-title>
                        
                       </v-img> 
                       
                       <v-card-subtitle class="pb-0">
                         {{proyecto.facultad}}
                       </v-card-subtitle>
                   
                       <v-card-text  class="text--primary">
                         <div> <strong>Ciudad:</strong>{{proyecto.ciudad}}</div>
                         <div> <strong>Coste del proyecto:</strong>{{proyecto.coste}}</div>
                         <div> <strong>Fecha del proyecto:</strong>{{proyecto.fecha}}</div>
                         <br>
                         <div> <strong>Descripción</strong></div>
                         <div>{{proyecto.descripcion}}</div>
                       </v-card-text>

                       <v-card-actions class="bg-green">
                         <v-btn
                           color="white"
                           text
                         
                         >
                           Leer
                         </v-btn>
                       </v-card-actions>
                     </v-card>
             
                               </v-col>
                      
            </slot>
        </v-row>
    </v-container>
</template>


<script>
    export default{
        name:"LeyendoJson",
        data(){
            return{
                activeProyecto:'proyectoapp',
                proyectosList:
            [
                {title:'Plaza Centenario',ciudad:'Manta ', coste:'$25.000', fecha:'2022' , descripcion:'La inauguración de Plaza Centenario de parte de la Universidad Laica Eloy Alfaro de Manabí (Uleam) a Manta, contribuye al desarrollo cultural, arquitectónico y urbanístico de la ciudad. El pasado 25 de junio día de la provincialización de Manabí, el rector de la Uleam, Dr. Marcos Zambrano Zambrano, hizo la entrega de la obra al alcalde del puerto manabita.' , image:'https://www.uleam.edu.ec/wp-content/uploads/2022/06/WhatsApp-Image-2022-06-13-at-11.54.34-AM-1024x683.jpeg'},   
                {title:'Pantallas inteligentes',ciudad:'Manta', coste:'$10.000' , fecha:'Marzo 16/2022', descripcion:'El equipamiento para las aulas híbridas de la Universidad Laica Eloy Alfaro de Manabí (Uleam),  es una realidad. Este 14 de marzo, arribaron mediante procesos de importación en un contenedor las primeras 99 pantallas inteligentes. Estos equipos fueron descargados en el edificio del ex coliseo. Luego serán ubicadas en las respectivas aulas de acuerdo a cronograma de distribución.',image:'https://www.uleam.edu.ec/wp-content/uploads/2022/03/IMG_3212-1024x738.jpg'},   
                {title:'Seguridad Biométrica',ciudad:'Manta', coste:'$30.000', fecha:'Diciembre 6/2022',descripcion:'El control de ingreso peatonal con seguridad biométrica en el campus matriz de la Universidad Laica Eloy Alfaro de Manabí (Uleam) en Manta está en ejecución. Desde el 3 de diciembre iniciaron los trabajos.',image:'https://www.uleam.edu.ec/wp-content/uploads/2022/12/WhatsApp-Image-2022-12-06-at-11.41.44-AM-1-1024x682.jpeg'},   
            ],
         

            }
        }
    }
</script>

<style scoped>
.text-h4{
    color : green;
}

.title{
    background-color: rgba(0, 255, 8, 0.59);
}
.verde{
  color: green;
}
</style>