<template>
    <v-container class="my-15">
        <v-row justify="center">
                <v-subheader class="text-h2 ">
                   <h3 class="verde">Mostrando datos XML</h3>
                </v-subheader>
                

            <slot v-if="activeProyecto === 'proyectoapp'">
                           <v-col lg="12">
                            <v-card
                       class="mx-auto"
                       max-width="400"
                       v-for="(proyecto, index) in proyectosList" :key="proyectoindex"
                   
                     >
                       <v-img
                         class="white--text align-end"
                         height="200px"
                         :src=proyecto.image
                       >

                       
                         <v-card-title class="bg-green">Plaza Centenario</v-card-title>
                       </v-img>
                   
                       <v-card-subtitle class="pb-0">
                 
                       </v-card-subtitle>
                   
                       <v-card-text class="text--primary">
                        <div>{{mostrarXML}}</div>
                        <div> <strong>Ciudad:</strong>{{xml.proyectos.proyecto[0].ciudad[0]}}</div>
                         <div> <strong>Coste del proyecto:</strong>{{xml.proyectos.proyecto[0].coste[0]}}</div>
                         <div> <strong>Fecha del proyecto:</strong>{{xml.proyectos.proyecto[0].fecha[0]}}</div>
                         <br>
                         <div> <strong>Descripción</strong></div>
                         <div>{{xml.proyectos.proyecto[0].descripcion[0]}}</div>
                       </v-card-text>
                   
                       <v-card-actions>
                    
                   
                         <v-btn
                           color="orange"
                           text
                         >
                           Leído
                         </v-btn>
                       </v-card-actions>
                     </v-card>
                   
                               </v-col>
            </slot>
        </v-row>
    </v-container>
    
</template>


<script>
const fs = require('fs');
const xml2js = require('xml2js');
const util = require('util');
const parser = new xml2js.Parser();



    export default{
        name:"LeyendoXML",
        data(){
            return{
                xml: '',
                activeProyecto:'proyectoapp',
                proyectosList:
            [
                {title:'Proyecto Informática', facultad:'Facultad Informática' , lider:'Dr. Jorge Herrera Tapia', descripcion:'Aplicaciones tecnológicas para personas con discapacidad.' , image:'https://www.uleam.edu.ec/wp-content/uploads/2022/06/WhatsApp-Image-2022-06-13-at-11.54.34-AM-1024x683.jpeg'}
            ],
         

            }
       
            
        },
        computed: {

    mostrarXML() {

        parser.parseString(`<proyectos>  
<proyecto>  
  <ciudad>Manta</ciudad>  
  <coste>$25.000</coste>  
  <fecha>Diciembre 6/2022</fecha>  
  <descripcion>La inauguración de Plaza Centenario de parte de la Universidad Laica Eloy Alfaro de Manabí (Uleam) a Manta, contribuye al desarrollo cultural, arquitectónico y urbanístico de la ciudad. El pasado 25 de junio día de la provincialización de Manabí, el rector de la Uleam, Dr. Marcos Zambrano Zambrano, hizo la entrega de la obra al alcalde del puerto manabita.</descripcion>  
</proyecto>   
</proyectos>`, (err, result)  => {
        let data = "";
     
        data += util.inspect(result, false, null, true);
        this.xml =result;
     
        }); 
   
     

       
    },
  }
    }
</script>

<style scoped>
.text-h4{
    color : green;
}

.verde{
  color: green;
}
</style>