<template>
    <v-card
      :loading="loading"
      class="mx-auto my-12"
      max-width="374"
    >
      <template slot="progress">
        <v-progress-linear
          color="deep-purple"
          height="10"
          indeterminate
        ></v-progress-linear>
      </template>
  
      <v-img
        height="250"
        src="https://mundoelectrico.com/media/k2/items/cache/b320775de3c297425b69dccc362220a9_XL.jpg"
      ></v-img>
  
      <v-card-title>Gestión de Recursos Energéticos</v-card-title>
  
      <v-card-text>
        <v-row
          align="center"
          class="mx-0"
        >
          <v-rating
            :value="4.5"
            color="amber"
            dense
            half-increments
            readonly
            size="14"
          ></v-rating>
  
         
        </v-row>
  
        <div class="my-4 text-subtitle-1">
            Ing. Carlos Velásquez Figueroa
        </div>
  
        <div>Análisis de recursos energéticos en los cantones Manta, Montecristi y Jaramijó con fines de generación eléctrica</div>
      </v-card-text>
  
      <v-divider class="mx-4"></v-divider>
  
      <v-card-title>Escoge la hora de publicación</v-card-title>
  
      <v-card-text>
        <v-chip-group
          v-model="selection"
          active-class="deep-purple accent-4 white--text"
          column
        >
          <v-chip>5:30PM</v-chip>
  
          <v-chip>7:30PM</v-chip>
  
          <v-chip>8:00PM</v-chip>
  
          <v-chip>9:00PM</v-chip>
        </v-chip-group>
      </v-card-text>
  
      <v-card-actions>
        <v-btn
          color="deep-purple lighten-2"
          text
          @click="reserve"
        >
          Publicar
        </v-btn>
      </v-card-actions>
    </v-card>
  </template>

  <script>
  export default {
    name: "MisProyectos",
    data: () => ({
      loading: false,
      selection: 1,
    }),

    methods: {
      reserve () {
        this.loading = true

        setTimeout(() => (this.loading = false), 2000)
      },
    },
  }
</script>