<template>
    <LeyendoXML />

   
  
  </template>
  
  <script>
  import { defineComponent } from 'vue';
  
  // Components
  
  
import LeyendoXML from '../components/LeyendoXML.vue'
  
  export default defineComponent({
    name: 'LeyendoXMLView',
  
    components: {
      LeyendoXML,
 
    },
  });
  </script>
  