<template>
  <MisProyectos />

</template>

<script>
import { defineComponent } from 'vue';

// Components

import MisProyectos from '../components/MisProyectos.vue';
export default defineComponent({
  name: 'MisProyectosView',

  components: {
    MisProyectos
  },
});
</script>
